.container-history {
    @include flex-center(row);

    .container-info-history {
        @include flex-center(row);

        .pHistory {
            @include flex-center(row);
            width: 50%;

            .textCard {
                font-size: $fs-quaternary;
                font-weight: 500;
                color: #fff;
                background-color: #6C8AEC;
                border-radius: 1.3rem;
                width: 70%;
            }
        }
    }

    .imgHistory {
        @include flex-center(row);

        .imageHistory {
            width: 80%;
        }
    }
}

.teamMember {
    border-top: 1px solid $clr-soft-soft;
    padding-top: 2.5rem;

    .containerCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;
        align-items: center;
        justify-items: center;
        padding-top: 2.5rem;
    
        .cards {
            @include flex-center-column;
            width: 15rem;
            padding: 2rem;
            /* border: 1px solid #FD7061; */
            border-radius: 1rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            gap: 0.938rem;
    
            .cardImage {
                width: 5rem;
                border-radius: 1rem ;
            }
            
            .cardPersonalObjective {
                font-size: $fs-quaternary;
                font-weight: weight(medium);
                color: $clr-accent;
            }
    
            &:hover {
                cursor: pointer;
                animation-name: cards-animat;
                animation-timing-function: ease-in;
                animation-duration: 2s;
                animation-fill-mode: forwards;
            }
    
            @keyframes cards-animat {
                0% {
                    transform: translate(0rem);
                }
            
                100% {
                    transform: scale(-1rem);
                }
            }
        }
    }
}