.container-history {
    @include flex-center(row);

    .container-info-history {
        @include flex-center(row);

        .pHistory {
            @include flex-center(row);
            width: 50%;

            .textCard {
                font-size: $fs-quaternary;
                font-weight: 500;
                color: #fff;
                background-color: #6C8AEC;
                border-radius: 1.3rem;
                width: 70%;
            }
        }
    }

    .imgHistory {
        @include flex-center(row);

        .imageHistory {
            width: 80%;
        }
    }
}

.teamMember {
    border-top: 1px solid $clr-soft-soft;
    padding-top: 2.5rem;
}