// CARDS HOME
.container-card {
    @include flex-center(column);
    gap: 0.625rem;

    .container-title-card {
        @include flex-center(row);
        gap: 0.625rem;
        transition: all 0.1s ease-in-out;

        .title-card {
            font-size: $fs-secondary;
            font-weight: weight(regular);
        }
    }

    &:hover {
        .container-title-card {
            color: $clr-accent;
        }
    }

    .pCard {
        font-weight: weight(light);
        color: $clr-soft;
        text-align: center;
    }
}

// SOCIAL MEDIA
.socialMedia {
    border-top: 1px solid $clr-soft-soft;
    border-bottom: 1px solid $clr-soft-soft;
    padding: 2.5rem;
    .container-title {
        @include flex-center(row);
    }
    
    .socialMedia-icons {
        @include flex-evenly;

        .socialMedia-icon-div {
            @include flex-center(row);

            .socialMedia-icon {
                color: $clr-titles;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: $clr-accent;
                    cursor: pointer;
                    animation-name: icon;
                    animation-timing-function: ease;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
                }

                @keyframes icon {
                    0% {
                        transform: translatey(0rem);
                    }
                
                    100% {
                        transform: translatey(-1rem);
                    }
                }
            }
        }
    }
}

// EXPERIENCE
.imgExperience {
    @include flex-center(row);

    .imageExperience {
        width: 90%;
    }
}

.infoExperience {
    text-align: start;

    .titleExperience {
    color: $clr-titles;
    font-size: $fs-primary;
    font-weight: weight(regular);
    padding-top: 2.5rem;
    }

    .div-data-infoExperience {
        @include flex-left(row);
        padding-top: 2.5rem;
        gap: 0.938rem;

        .checkPerson {
            color: $clr-primary;
        }

        .pExperience {
            color: $clr-soft;
            font-size: $fs-secondary;
            font-weight: weight(light);
        }
    }

    .div-btnExperience {
        padding-top: 2.5rem;
    }
} 

.container-metrics {
    @include flex-evenly;

    .metric-item {
        width: 20%;

        .title-metrics {
            font-size: $fs-secondary;
            font-weight: weight(bold);
            text-align: center;
            color: $clr-secondary;
        }

        .pMetrics {
            font-size: $fs-quaternary;
            font-weight: weight(light);
            justify-content: center;
            text-align: start;
            color: $clr-soft
        }
    }
}