.container-searchBar {

    .container-search {
        width: 100%;
        .search {
            width: 60%;
            margin: auto;
    
            .form-search {
                @include flex-center(row);
                gap: 1rem;
                width: 100%;
                border-radius: 1rem;
                box-shadow: rgba(138, 174, 209, 0.2) 0px 8px 24px;
                background-color: $clr-senary;
    
                .input {
                    width: 90%;
                    height: 2.5rem;
                    border: none;
                    border-radius: 1rem;
                    padding-left: 1rem;
                    background-color: $clr-senary;
    
                    &:focus {
                        outline: none;
                    }
                }
    
                .btn-search {
                    width: 5%;
                    border: 0;
                    border-radius: 50%;
                    background: none;
                    color: $clr-titles;

                    &:focus, &:hover {
                        color: $clr-tertiary;
                    }
                }
            }
        }
    }
}