.container-services {
    
    .container-services-cards {
        @include flex-evenly;
        height: auto;


        .services-card {
            // border: 1px solid black;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 10%;
            width: 13%;
            height: 15rem;

            .link-card {
                @include flex-center-column;
                justify-content: space-evenly;
                width: 100%;
                height: 100%;

                .img-services-card {
                    width: 80%;
                    // margin: auto;
                }
    
                .pCard {
                    font-size: $fs-tertiary;
                    font-weight: weight(medium);
                    color: $clr-titles;
                    // text-align: center;
                }
            }
    
            &:hover {
                cursor: pointer;
                animation-name: cards;
                animation-timing-function: ease;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
    
            @keyframes cards {
                0% {
                    transform: translatex(0rem);
                }
            
                100% {
                    transform: translate(1rem, -1rem);
                }
            }
        }
    }
}