footer {
    background-color: $clr-soft-soft;

    .container-newsletter {
        padding-bottom: 2.5rem;

        .title-footer {
            font-size: $fs-secondary;
            font-weight: weight(regular);
            color: $clr-titles;
            
            .form-footer {

                .input {
                    font-family: $ff-secondary;
                    width: 15rem;
                    height: 3rem;
                    text-align: center;
                    border-radius: 0.3rem;
                    background-color: #e6e6e6;
                    margin-right: 0.5rem;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }

            }
        }

        .pFooter {
            // display: flex;
            // flex-direction: column;
            // flex-wrap: wrap;
            // align-items: flex-start;
            @include flex-left-column;
            color: $clr-soft;
            font-size: $fs-quinary;
            padding-top: 0.313rem;
            padding-bottom: 0.313rem;
        
            &:hover {
                color: $clr-nav;
                cursor: pointer;
            }
        }
    }

    .columnFooter {
        

        .services-footer, .contact-footer, .legal-footer {
            @include flex-center-column;
            gap: 1rem;

            .footerSubitems {
                font-size: $fs-quinary;
                font-weight: weight(regular);
                color: $clr-soft;

                &:hover {
                    color: $clr-nav;
                    font-weight: weight(bold);
                }
            }

        }
    }

    .container-copyright {
        @include flex-center(row);
        padding-top: 2.5rem;
        padding-bottom: 1.875rem;

        .copyright-text {
            font-size: $fs-quinary;
            font-style: italic;
            color: $clr-titles;
        }

        .copyright-adress {
            font-size: $fs-quinary;
            font-style: italic;
            color: $clr-soft;
        }

        .socialMedia-icons {
            @include flex-evenly;
    
            .socialMedia-icon-div {
                @include flex-center(row);
    
                .socialMedia-icon {
                    color: $clr-titles;
                    transition: all 0.2s ease-in-out;
    
                    &:hover {
                        color: $clr-accent;
                        cursor: pointer;
                        animation-name: icon;
                        animation-timing-function: ease;
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;
                    }
    
                    @keyframes icon {
                        0% {
                            transform: translatey(0rem);
                        }
                    
                        100% {
                            transform: translatey(-1rem);
                        }
                    }
                }
            }
        }
    }
}

.btn-newsltt {
    height: 3rem;
    color: $clr-white;
    font-size: $fs-tertiary;
    font-family: $fs-secondary;
    font-weight: weight(regular);
    background-color: $clr-quinary;
    border: $clr-quinary;
    border-radius: 0.3rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: 1px solid $clr-quinary;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.1s ease-in-out;

    &:hover {
        color: $clr-quinary;
        background-color: $clr-white;
    }
}