// MEDIA QUERIES TABLET
// MEDIA QUERIES TABLET
@include tablet {
    .infoHero {
        @include flex-center(column);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .container-services-1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        // width: 50%;

        .container-card {
            padding-top: 2.5rem;
        }
    }

    .container-services-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-center;
        align-content: flex-center;

        .services-card {
            width: 100% !important;
            margin-bottom: 2.5rem;

            .link-card {
                width: auto;
                flex-direction: row !important;

                .img-services-card {
                    width: 20% !important;
                }

                .pCard {
                    font-size: $fs-secondary !important;
                }
            }
        }
    }

    .container-info-history {
        width: 100%;

        .pHistory {
            min-width: 100%;
        }
    }

    .containerCards {
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;

        .cards {
            @include flex-center(row);
            width: 100% !important;
            height: auto;

            .cardImage {
                width: 50%;
            }

            .card-info {
                width: 50%;
            }
        }
    }

    .infoExperience {
        @include flex-center-column;

        .titleExperience {
            text-align: center;
        }
    }

    .cards {
        flex-direction: row !important;
    }

    .form-search {
        gap: 0;

        .input {
            width: 70% !important;
        }
    }

    .pMetrics {
        text-align: center !important;
    }

    .container-copyright {
        flex-direction: column-reverse !important;
        gap: 2rem;

        .copyright-text, .copyright-adress {
            text-align: center;
        }
    }

    .columnFooter {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);

        justify-content: center;
        align-items: center;
    }

    .container-newsletter {
        grid-column: 1/4;
        display: grid;
        justify-content: center;
    }
}

// MEDIA QUERIES MOBILE
// MEDIA QUERIES MOBILE
@include mobile {
    .infoHero {
        @include flex-center(column);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .container-services-1 {
        @include flex-center-column;

        .container-card {
            width: 80%
        }

    }

    .socialMedia-icon-div {

        .socialMedia-icon {
            
            svg {
                width: 45px;
                height: 45px;
            }
        }
    }

    .services-card {
        margin-bottom: 2rem !important;
    
        .link-card {
            flex-direction: row !important;
        }
    }

    .form-search {
        gap: 0;
    }

    .container-metrics {
        @include flex-center-column;

        .metric-item {
            padding-top: 2.5rem;
        }
    }

    .pExperience {
        font-size: $fs-tertiary !important;
    }

    .btn-contact-name {
        font-size: $fs-tertiary !important;
    }

    .input {
        width: 80% !important;
    }

    .columnFooter {
        @include flex-center-column;

        .services-footer, .contact-footer, .legal-footer {
            @include flex-center-column;
            padding-bottom: 2.5rem;
            line-height: 2.0;
        }

        .container-newsletter {
            text-align: center;
            
            .form-footer {

                .input {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}